@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
	--color-ua: #0ABBEF;
}

html {
	background-color: black;
	color: white;
	font-family: 'Poppins', monospace;
}

html, body {
	padding: 0;
	margin: 0;
	border: none;
}