body {
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding-top: 1rem;
}


#search {
	padding: .1em .5em ;
	margin: 1em auto;
	display: inline-block;
	font-size: 150%;
	outline: none;
	border: none;
	border-radius: 5px;
	min-width: 40%;
	transition: 1s;
}

#search:hover, #search:focus {
	padding: .2em .5em;
	min-width: 70%;
}

section {
	background-color: #222;
	padding: 0 1em;
	box-shadow: 1px 1px #666 , 6px 6px 8px #666;
	transition: .5s;
	cursor: pointer;
}

section:hover {
	box-shadow: 1px 1px var(--color-ua) , 6px 6px 8px var(--color-ua);

}

nav:after {
  content:'🔍';
  display: inline-block;
  transform: translate(-200%,0);
  height: 100%; 
  padding: .1em 0;
  margin: 1em 0;
  cursor: search;
}

nav {
  text-align: center;
  position: relative;
}