form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

button {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 1em;
}

form h1 {
	position: relative;
}
form h1::before {
	display: block;
	content: '';
	height: 3px;
	width: 100px;
	background-color: var(--color-ua);
	position: absolute;
	left: -.2em;
	bottom: 0;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	color: #767676;
}