/* Formulaire centrer sur la page */
body {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
}

form {
	text-align: center;
}

button {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 1em;
}

/* Détails esthétique sur le formulaire */

button {
	border: none;
	background: none;
	cursor: pointer;
	color: #767676;
}

select {
	font-size: 130%;
	padding: .2em 1em;
	cursor: pointer;
}