body {
	width: clamp(60%, 25rem, 100%);
	margin: auto;
}
form ul {
	list-style: none;
	margin: 3rem;
}

form ul input {
	display: none;
}

form ul label span {
	background-color: lightgrey;
	padding: 1em;
	color: black;
	border-radius: 10px;
	cursor: pointer;
}

form ul label:hover span {
	background-color: grey;
}

form ul label input:checked ~ span {
	background-color: var(--color-ua);
}

form ul label:hover input:checked ~ span {
	background-color: #009BBF;
}

form ul li{
	display: inline-block;
}

button {
	display: block;
	margin: auto;
	cursor: pointer;
}

h2 {
	text-align: center;
}