body {
	width: clamp(60%, 25rem, 100%);
	margin: auto;
}

button {
	display: block;
	margin: 1rem auto;
	cursor: pointer;
	font-size: 14pt;
	border: none;
	outline: none;
	padding: .1em 1em;
	border-radius: .6rem;
	background-color: white;
	color: black;
	box-shadow: .1em .1em var(--color-ua), .2em .2em 10pt var(--color-ua);
}

h2 {
	text-align: center;
}

main section h3 {
	color: var(--color-ua);
}

form input[type="checkbox"] {
	display: none;
}

.choix-groupe {
	border: 1px solid white;
}
.choix {
	padding: .2em;
	margin: .2em;
	background-color: var(--color-ua);
	display: block;
	transition: .5s;
	cursor: pointer;
}

.choix:hover {
	filter: grayscale(90%) ;
}

input:checked ~ .choix {
	margin-left: 1rem;
	background-color: limegreen;
}