body {
	width: clamp(30%, 30rem, Calc(100% - 30px));
	margin: auto;
}

section {
	display: block;
	margin: auto 0;
}

#info :is(ul, li) {
	list-style-type: square;
	margin: .7rem .5rem ;
}

#info a {
	color: var(--color-ua);
}